* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  color: #fff;
  letter-spacing: 2px;
  overflow: hidden;
}

audio {
  display: none;
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  inset: 0;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -10;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px 0px #000000a1;
          box-shadow: 0 0 20px 0px #000000a1;
  -webkit-animation: return 20s linear infinite;
          animation: return 20s linear infinite;
}

.container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 50%;
}

@-webkit-keyframes return {
  0% {
    -webkit-box-shadow: 0 0 20px 7px #00daf2;
            box-shadow: 0 0 20px 7px #00daf2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 7px #0085f2;
            box-shadow: 0 0 20px 7px #0085f2;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes return {
  0% {
    -webkit-box-shadow: 0 0 20px 7px #00daf2;
            box-shadow: 0 0 20px 7px #00daf2;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 7px #0085f2;
            box-shadow: 0 0 20px 7px #0085f2;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

label {
  margin-top: 30px;
}

h3 {
  margin: 10px;
}

.iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.iconbox i {
  margin: 5px;
  cursor: pointer;
  font-size: 25px;
  background: rgba(0, 174, 255, 0.418);
  border: 1px solid whitesmoke;
  padding: 5px;
  border-radius: 50%;
  color: whitesmoke;
  -webkit-box-shadow: 0 0 20px 0px #0be7f7a1;
          box-shadow: 0 0 20px 0px #0be7f7a1;
  -webkit-transition: linear all 0.6s;
  transition: linear all 0.6s;
}

.iconbox i:hover {
  background: #2f82ff;
  -webkit-box-shadow: 0px 0px 6px #042364b8;
          box-shadow: 0px 0px 6px #042364b8;
  -webkit-transition: linear all 0.6s;
  transition: linear all 0.6s;
}
/*# sourceMappingURL=styles.css.map */